[![icons8-linkedin.gif](attachment:c9494563-7284-4c71-9fe4-40d31b4558ff.gif 'Author : Suryakant Kumar')](https://www.linkedin.com/in/suryakantkumar/)[![icons8-github.gif](attachment:ecd1af6f-8660-4379-b68f-bad3ed6d67c8.gif 'Author : Suryakant Kumar')](https://github.com/SuryakantKumar)

# <span style="color:skyblue">**Strings**</span>

In Python, a `string` is a sequence of characters enclosed within either single quotes `'` or double quotes `"`. It is used to represent text data.

In [1]:
name = 'suryakant'
brother = "shashikant"

In [2]:
print(name)

suryakant

In [3]:
print(brother)

shashikant

In [4]:
details = "I am suryakant.
I am from Nalanda, Bihar."

SyntaxError: EOL while scanning string literal (3522654032.py, line 1)

* We can use single or double quotes just to represent single-line strings.

* Python allows multi-line strings by enclosing them within triple quotes `'''` or `"""`. This is useful for writing multi-line comments / document string inside the code.

In [5]:
details = """I am suryakant.
I am from Nalanda, Bihar."""

In [6]:
print(details)

I am suryakant.
I am from Nalanda, Bihar.

### <span style="color:orange">Memory Representation of Strings</span>

If we initialize a variable containing string values, then that string value will get stored in the memory at some address and then the memory address of that value will be given to the variable.

When same string value will get assigned to different variables, then same memory reference will be provided to all different variables, in case of small size strings.

In [7]:
city = "nalanda"

print(id(city))

140206076912688

In [8]:
district = "nalanda"

print(id(district))

140206076912688

### <span style="color:orange">Indexing in String</span>

Strings can be indexed.

Python uses zero-based indexing, meaning the first character of a string has an index of `0`.

In [9]:
name = "suryakant"

In [10]:
name[0]

's'

In [11]:
name[1]

'u'

In [12]:
name[10]

IndexError: string index out of range

* Python strings also uses negative indexing.

In [13]:
name[-1]

't'

In [14]:
name[-9]

's'

### <span style="color:orange">Escape Characters</span>

Python supports escape characters such as `\n` (newline), `\t` (tab), `\r` (carriage return), `\\` (backslash), `\'` (single quote), and `\"` (double quote) within strings.

In [15]:
details

'I am suryakant.\nI am from Nalanda, Bihar.'

In [16]:
details[15]

'\n'

### <span style="color:orange">Slicing of Strings</span>

Strings can be sliced to access individual characters or substrings.

There are three values needed when we slice any string :

* `start` : Starting index of the substring. By default starts from `0`.

* `end` : Starting index of the substring. By default ends at length of the string.

* `stride / step` : Value of the step. By default keeps `1` as step.

In [17]:
name = "suryakant"

In [18]:
name[0:5]

'surya'

In [19]:
name[0:5:1]

'surya'

In [20]:
name[1:9:3]

'uan'

* It will give null string as output, if the start index crosses the length of the string.

In [21]:
name[10:15]

''

* Slicing of strings happens on negative indexes as well.

In [22]:
name[-9:-4]

'surya'

In [23]:
name[-9:-1:3]

'sya'

* Slicing happens in forward direction only whether we use positive or negative indexing.

In [24]:
name[5:]

'kant'

In [25]:
name[:5]

'surya'

* If the end index will cross the length of the string, It will consider only till the last element, instead of throwing any error.

In [26]:
name[5:15]

'kant'

* We can move in the `reverse` direction by using negative step value. Here index `4` will not be inclusive.

In [27]:
name[9:4:-1]

'tnak'

* We can reverse the whole string by only assigning the negative value of step.

In [28]:
name[::-1]

'tnakayrus'

### <span style="color:orange">Strings are Immutable</span>

Once a string is created, it cannot be modified.

We can create a new string by modifying or concatenating existing strings, but the original string remains unchanged.

In [29]:
name = "suryakant"

In [30]:
name[0:5] = "shashi"

TypeError: 'str' object does not support item assignment

* We can't change the characters of a string using indexing or slicing, that's why strings are immutable.

### <span style="color:orange">String Concatenation</span>

Adding or appending one string into another string is known as string concatenation.

Concatenation of multiple strings creates a new string.

We can concatenate strings using the `+` operator.

In [31]:
"Hello" + "World"

'HelloWorld'

In [32]:
color = "Blue"

In [33]:
color + "White"

'BlueWhite'

In [34]:
color + "White" + "Black"

'BlueWhiteBlack'

* We can also use `*` operator to concatenate the same string any number of times.

In [35]:
"Blue"*3

'BlueBlueBlue'

In [36]:
color*3

'BlueBlueBlue'

* We can not concatenate values with any other data type into string.

In [37]:
"Blue" + 3

TypeError: can only concatenate str (not "int") to str

In [38]:
"Blue" + 2.0

TypeError: can only concatenate str (not "float") to str

In [39]:
"Blue" + True

TypeError: can only concatenate str (not "bool") to str

* But strings can contain any numeric values.

In [40]:
new_color = "Blue2.0"

type(new_color)

str

* We can use `str()` method to convert values with other data type to string first, then we can perform any kind of string operations.

In [41]:
color + str(2.0)

'Blue2.0'

### <span style="color:orange">Iteration on String</span>

In Python, We can iterate over a string using a variety of methods, such as using a `for loop`, `while loop`, or `list comprehension`.

### <span style="color:orange">**Problem:** </span>Occurance of a Character in a String

We need to find the occurance of `l` in the string `hello world`.

* We can iterate over a string character by character.

In [42]:
string = "hello world"

count = 0
for char in string:
    if char == "l":
        count += 1

print(count)

3

* We can also iterate over a string by using its Indexes.

In [43]:
string = "hello world"

count = 0
for i in range(len(string)):
    if string[i] == "l":
        count += 1
        
print(count)

3

### <span style="color:orange">'in' / 'not in' Operators</span>

In Python, `in` and `not in` operators are used to check for membership within a sequence, such as a string, list, tuple, or dictionary without having to iterate over the entire sequence.

These are commonly used in conditional statements, loops, and list comprehensions for efficient data manipulation and filtering.

* **`in` Operator:**

    - The `in` operator checks if a specified value exists within a sequence.

    - If the value is found in the sequence, the expression evaluates to `True` otherwise it evaluates to `False`.

* **`not in` Operator:**

    - The `not in` operator checks if a specified value does not exist within a sequence.

    - If the value is not found in the sequence, the expression evaluates to `True` otherwise it evaluates to `False`.

In [44]:
my_string = "Hello, world!"

In [45]:
'H' in my_string

True

In [46]:
'z' in my_string

False

In [47]:
'z' not in my_string

True

In [48]:
'H' not in my_string

False

### <span style="color:orange">String Methods</span>

Methods allow us to manipulate and perform operations on strings and return a new string.

Python provides a variety of built-in methods for working with strings.

### <span style="color:orange">split()</span>

In Python, the `split()` method is used to split a string into a `list` of substrings based on a specified `delimiter`.

Here's the syntax of the `split()` method :

```python
string.split(sep=None, maxsplit=-1)
```

* `string` : The original string in which will be splitted.

* `sep` (optional) : The delimiter to use for splitting the string. If no delimiter is specified, then whitespace characters like `spaces`, `tabs` and `newlines` are used by default.

* `maxsplit` (optional) : The maximum number of splits to perform. If provided, the string is split at most `maxsplit` times. If `maxsplit` is not specified or `-1`, there is no limit on the number of splits.

In [49]:
sentence = "This is a sample sentence."

sentence.split()

['This', 'is', 'a', 'sample', 'sentence.']

In [50]:
sentence.split(" ")

['This', 'is', 'a', 'sample', 'sentence.']

In [51]:
sentence = "apple,banana,orange"

sentence.split(",")

['apple', 'banana', 'orange']

In [52]:
sentence = "one two three four five"

sentence.split(" ", maxsplit=2)

['one', 'two', 'three four five']

### <span style="color:orange">replace()</span>

In Python, the `replace()` method is used to create a `new` string where `all` occurrences of a specified substring within the original string are replaced with another substring.

The syntax for the `replace()` method is as follows :

```python
new_string = original_string.replace(old_substring, new_substring, count)
```

- `original_string` : The original string where replacements will be made.

- `old_substring` : The substring to be replaced.

- `new_substring` : The substring to replace the occurrences of existing substring.

- `count` (optional) : An integer specifying the maximum number of replacements to make. If omitted, all occurrences of the existing substring are replaced.

In [53]:
original_string = "Hello, world!"

original_string.replace('world', 'Python')

'Hello, Python!'

In [54]:
original_string = "one one two two one three three"

original_string.replace('one', 'four', 2)

'four four two two one three three'

In [55]:
original_string = "one one two two one three three"

print(id(original_string))

new_string = original_string.replace('one', 'five')

print(id(new_string))

140206093509456
140206079111408

* If no occurrences of existing substring are found, the method will not return a new string, but just returns a copy of the original string without any changes.

In [56]:
original_string = "Hello, world!"

print(id(original_string))

new_string = original_string.replace('surya', 'shashi')

print(id(new_string))

140206093394352
140206093394352

### <span style="color:orange">find()</span>

In Python, the `find()` method is used to search for a `substring` within a string and returns the position (`index`) of the `first` occurrence of the substring.

If the substring is not found, it returns `-1`.

It's commonly used in string manipulation tasks such as parsing or extracting data from text.

Here's the syntax of the `find()` method :

```python
string.find(substring, start, end)
```

- `string`: The original string in which the search will be performed.

- `substring`: The substring to search for.

- `start` (optional - inclusive) : The index from which the search will be started. If not specified, the search starts from the beginning of the string.

- `end` (optional - exclusive) : The index at which the search will end. If not specified, the search continues to the end of the string.

In [57]:
my_string = "Hello, world!"

In [58]:
my_string.find("world")

7

In [59]:
my_string.find("l")

2

In [60]:
my_string.find("l", 5)

10

In [61]:
my_string.find("z")

-1

### <span style="color:orange">lower() & upper()</span>

In Python, the `lower()` and `upper()` methods are used to manipulate the `case` of `characters` within a string.

The `lower()` method converts all characters in a string to `lowercase`.

The `upper()` method converts all characters in a string to `uppercase`.

These methods return a `new` string.

`Non-alphabetic` characters remain `unchanged`.

These methods are useful for case-insensitive comparisons, formatting strings for consistent presentation and various text processing tasks.

In [62]:
my_string = "Hello, World!"

In [63]:
my_string.lower()

'hello, world!'

In [64]:
my_string.upper()

'HELLO, WORLD!'

### <span style="color:orange">startswith()</span>

In Python, the `startswith()` method is used to check if a string `starts` with a specified `prefix`.

`startswith()` method returns `True` if the string starts with the specified prefix, otherwise it returns `False`.

Here's the syntax of the `startswith()` method :

```python
string.startswith(prefix, start, end)
```

- `string` : The string on which the method is called.

- `prefix` : The prefix to check for at the beginning of the string.

- `start` (optional - inclusive) : An optional integer specifying the start index within the string where the search will begin. If not provided, the search starts from the beginning of the string (index 0).

- `end` (optional - exclusive) : An optional integer specifying the end index within the string where the search will end. If not provided, the search extends to the end of the string.

In [65]:
text = "Hello, world!"

In [66]:
text.startswith("Hello")

True

In [67]:
text.startswith("World")

False

In [68]:
text.startswith("w", 7)

True

In [69]:
text.startswith("world", 7, 11)

False

In [70]:
text.startswith("world", 7, 12)

True

### <span style="color:orange">**Problem:** </span>Replace Character in a String

We have been given a string, Write a function to replace specified characters with the existing charcaters.

```
Sample Input : "fsafsavxz", "s", "d"
Sample Output : "fdafdavxz"
```

* We will need to create a new string since we can't apply the changes to the string because it is immutable.

In [71]:
def replaceString(string, existing, specified):
    new_string = ""
    
    for char in string:
        if char == existing:
            new_string += specified
        else:
            new_string += char
    
    return new_string

In [72]:
string, existing, specified = "fsafsavxz", "s", "d"

print(replaceString(string, existing, specified))

fdafdavxz

### <span style="color:orange">**Problem:** </span>Count Vowels, Consonants, Digits & Specials in a String

We have been given a string, Write a function to count number of vowels, consonants, digits and special characters available in the given string.

Character will be available in any case.

**Note** : Don't use dictionary or maps.

```
Sample Input : "sfsaAFsawurioq2412141dasfd!@ afsa421"
Sample Output : 9, 14, 10, 3
```

In [73]:
def countInString(string):
    vowels, consonants, digits, specials = 0, 0, 0, 0
    
    string = string.lower()
    for char in string:
        if char >= "a" and char <= "z":
            if char in ("a", "e", "i", "o", "u"):
                vowels += 1
            else:
                consonants += 1
        elif char >= "1" and char <= "9":
            digits += 1
        else:
            specials += 1
    return vowels, consonants, digits, specials

In [74]:
string = "sfsaAFsawurioq2412141dasfd!@ afsa421"

vowels, consonants, digits, specials = countInString(string)

print(vowels, consonants, digits, specials)

9 14 10 3

### <span style="color:orange">ord() & chr()</span>

In Python, the `ord()` function takes a `single character` (a string of length 1) as an argument and returns its `ASCII` value. It returns an integer representing the `Unicode` code point of the character.

The `chr()` function takes an integer representing an `ASCII` value and returns the corresponding `character`. It returns a `string` of length 1 containing the character represented by the `ASCII` value.

These functions are particularly useful when dealing with character manipulation, encoding, and decoding tasks.

In [75]:
ord('ab')

TypeError: ord() expected a character, but string of length 2 found

In [76]:
ord('A')

65

In [77]:
ord('Z')

90

In [78]:
ord('a')

97

In [79]:
ord('z')

122

In [80]:
chr(65)

'A'

In [81]:
chr(97)

'a'

### <span style="color:orange">Application of ord() & chr()</span>

We have been given a string, We need to find the frequency of all lowercase alphabets based on the given string.

We also want those character having frequency as 0.

In [82]:
string = "fasfbsafwqjhbftrqw"

string = string.lower()

frequency = [0]*(ord("z")+1)
    
for char in string:
    frequency[ord(char)] += 1

for i in range(ord("a"), ord("z")+1):
    print(chr(i), "\t", frequency[i])

a 	 2
b 	 2
c 	 0
d 	 0
e 	 0
f 	 4
g 	 0
h 	 1
i 	 0
j 	 1
k 	 0
l 	 0
m 	 0
n 	 0
o 	 0
p 	 0
q 	 2
r 	 1
s 	 2
t 	 1
u 	 0
v 	 0
w 	 2
x 	 0
y 	 0
z 	 0

### <span style="color:orange">**Problem:** </span>Check Permutation

For given two strings `str1` and `str2`, Check whether they are a permutation of each other or not.

Two strings are said to be a permutation of each other when either of the string's characters can be rearranged so that it becomes identical to the other one.

For Example, `sinrtg` and `string` are permutations to each other.

**Note** : Don't use dictionary or maps.

```
Sample Input: "abcde" and "baedc"
Sample Output: True
```

* Two strings are permutations of each other when both contains same length and same set of characters.

* Initialize a list of size equal to ASCII value of `z + 1` with elements as `0`. Iterate first string and increase `1` the for occurance of each character, then iterate second string and decrease `1` for the occurance of each character, from the elements at indexes same as the ASCII value of that character. Then we will iterate through the ASCII values of alabhabet in the list created. Return false, if any element is non-zero.

In [83]:
def checkPermutation(str1, str2):
    if len(str1) != len(str2):
        return False
    
    frequency = [0]*(ord("z") + 1)
    
    for char in str1:
        frequency[ord(char)] += 1
        
    for char in str2:
        frequency[ord(char)] -= 1
            
    for i in range(ord("a"), ord("z")+1):
        if frequency[i] != 0:
            return False
        
    return True

In [84]:
str1 = "sinrtg"
str2 = "string"

print(checkPermutation(str1, str2))

True

In [85]:
str1 = "abc"
str2 = "cbd"

print(checkPermutation(str1, str2))

False

In [86]:
str1 = "aaaa"
str2 = "aaa"

print(checkPermutation(str1, str2))

False

### <span style="color:orange">**Problem:** </span>Remove Consecutive Duplicates

For a given string, remove all the consecutive duplicate characters.

```
Sample Input: "aabbbcc"
Sample Output: "abc"
```

* Iterate through the string and Skip the index if the element at current index is same as element at last index.

In [87]:
def removeConsecutiveDuplicates(string):
    if len(string) <= 1:
        return string
    
    new_string = string[0]
    
    i = 1
    while i < len(string):
        if string[i] == string[i-1]:
            i += 1
        else:
            new_string += string[i]
            i += 1
    
    return new_string

In [88]:
string = "aaaa"

print(removeConsecutiveDuplicates(string))

a

In [89]:
string = "aabbbcc"

print(removeConsecutiveDuplicates(string))

abc

### <span style="color:orange">**Problem:** </span>Reverse Each Word

Given a sentence containing strings, Reverse each word of this sentence indivisualy.

```
Sample Input: "Hello I am Aadil"
Sample Output: "olleH I ma lidaA"
```

* First split the sentence into list of words, then reverse each words and create a new string.

In [90]:
def reverseEachWord(sentence):
    sentence_list = sentence.split()
    
    new_string = ""
    for i in range(len(sentence_list)):
        for j in range(len(sentence_list[i])-1, -1, -1):
            new_string += sentence_list[i][j]
            
        if i == len(sentence_list)-1:
            return new_string
        else:
            new_string += " "

In [91]:
sentence = "Hello I am Aadil"

print(reverseEachWord(sentence))

olleH I ma lidaA

### <span style="color:orange">**Problem:** </span>Remove Character

For a given a string and a character `X`, write a function to remove all the occurrences of X from the given string.

The input string will remain unchanged if the given character `X` doesn't exist in the input string.

```
Sample Input: "aabccbaa" and "a"
Sample Output: "bccb"
```

* Iterate through the string and skip the given character and create a new string.

In [92]:
def removeCharacter(string, X):
    new_string = ""
    
    for char in string:
        if char != X:
            new_string += char
    
    return new_string

In [93]:
string = "aabccbaa"
X = "a"

print(removeCharacter(string, X))

bccb

In [94]:
string = "xxyyzxx"
X = "y"

print(removeCharacter(string, X))

xxzxx

### <span style="color:orange">**Problem:** </span>Highest Ocuuring Character

For a given a string, find and return the highest occurring character.

If there are two characters in the input string with the same frequency, return the character which comes first.

**Consider** : Assume all the characters in the given string to be in lowercase always. Don't use dictionary or maps.

```
Sample Input: "abcdeapapqarr"
Sample Output: "a"
```

#### <span style="color:blue">Approach - 1</span>

In [95]:
def highestOccuringCharacter(string):
    frequency = [0]*(ord("z") + 1)
    
    for char in string:
        frequency[ord(char)] += 1
    
    highest_occuring_char = string[0]
    highest_occurance = frequency[ord(highest_occuring_char)]
    for char in string[1:]:
        if frequency[ord(char)] > highest_occurance:
            highest_occurance = frequency[ord(char)]
            highest_occuring_char = char
    
    return highest_occuring_char

In [96]:
string = "abcdeapapqarr"

print(highestOccuringCharacter(string))

a

In [97]:
string = "xy"

print(highestOccuringCharacter(string))

x

#### <span style="color:blue">Approach - 2 : Using List of size 26 Only</span>

In [98]:
def highestOccuringCharacter(string):
    frequency = [0]*26
    
    for char in string:
        frequency[ord(char)-ord("a")] += 1
    
    highest_occuring_char = string[0]
    highest_occurance = frequency[ord(highest_occuring_char)-ord("a")]
    for char in string[1:]:
        if frequency[ord(char)-ord("a")] > highest_occurance:
            highest_occurance = frequency[ord(char)-ord("a")]
            highest_occuring_char = char
    
    return highest_occuring_char

In [99]:
string = "abcdeapapqarr"

print(highestOccuringCharacter(string))

a

In [100]:
string = "xy"

print(highestOccuringCharacter(string))

x

### <span style="color:orange">**Problem:** </span>Compress the String

Write a program to do basic string compression. For a character which is consecutively repeated more than once, replace consecutive duplicate occurrences with the count of repetitions.

The string is compressed only when the repeated character count is more than 1.

**Note** : Consecutive count of every character in the input string is less than or equal to 9.

```
Sample Input: "aaabbccdsa"
Sample Output: "a3b2c2dsa"
```

In [101]:
def compressString(string):
    new_string = string[0]
    
    i = 0
    repetition = 1
    while i < len(string)-1:
        if string[i] == string[i+1]:
            repetition += 1
        else:
            if repetition > 1:
                new_string += str(repetition)
            new_string += string[i+1]
            repetition = 1
        i += 1
    
    if repetition > 1:
        new_string += str(repetition)
    
    return new_string

In [102]:
string = "aaabbccdsa"

print(compressString(string))

a3b2c2dsa

In [103]:
string = "aaabbcddeeeee"

print(compressString(string))

a3b2cd2e5