[![icons8-linkedin.gif](attachment:c9494563-7284-4c71-9fe4-40d31b4558ff.gif 'Author : Suryakant Kumar')](https://www.linkedin.com/in/suryakantkumar/)[![icons8-github.gif](attachment:ecd1af6f-8660-4379-b68f-bad3ed6d67c8.gif 'Author : Suryakant Kumar')](https://github.com/SuryakantKumar)

# <span style="color:skyblue">**Functions**</span>

### <span style="color:orange">Problem :</span> Find nCr where n and r are given

`nCr = (n!) / (r!) * (n-r)!` where n! = 1 * 2 * 3 * ....... * n

In [1]:
n = 4
r = 2

n_fact = 1
for i in range(1, n+1):
    n_fact *= i
    
r_fact = 1
for j in range(1, r+1):
    r_fact *= j
    
n_minus_r_fact = 1
for k in range(1, n-r+1):
    n_minus_r_fact *= k
    
nCr = n_fact / (r_fact * n_minus_r_fact)

nCr

6.0

In the previous program, We were repeating the same code for diffrent values. This is the major issue in this code.

In Python, A `Function` is a block of `reusable` code designed to perform a specific task or a set of tasks. It allows us to break down a program into smaller, manageable parts, making the code more organized, readable, and maintainable.

Function allows us to create a block of code which can be called from anywhere.

### <span style="color:orange">Introduction To Function</span> 

In Python, A `function` is a block of reusable code designed to perform a specific task or a set of tasks. It allows you to break down a program into smaller, manageable parts, making the code more organized, readable, and maintainable.

Functions in Python follow a specific syntax:

```python
def function_name(parameters):
    """Docstring - Optional description of the function"""
    # Function body
    return result
```

Here's a breakdown of the components of a function:

- **def**: It is a keyword used to define a function.

- **function_name**: This is the name given to the function, which should follow Python's naming conventions. It's used to call the function later in the code.

- **parameters**: These are optional values that can be passed to the function for it to work with. They act as placeholders for the input data that the function operates on.

- **Docstring**: This is a description enclosed in triple quotes immediately after the function definition. It serves as documentation, explaining the purpose of the function.

- **Function body**: This contains the actual code that the function executes when called. It consists of the statements and logic necessary to accomplish the desired task.

- **return statement**: It is optional and used to return a value from the function. If used, it passes the result or output of the function back to the code that called the function.

Example of a simple function that gives Factorial of a Number :

In [2]:
def factorial(n):
    n_fact = 1
    for i in range(1, n+1):
        n_fact *= i
    return n_fact

* Functions can be called (invoked) later in the code by using their names along with the necessary arguments.

In [3]:
fact_5 = factorial(5)

fact_5

120

In [4]:
# nCr using Function

n = 4
r = 2

n_fact = factorial(n)
r_fact = factorial(r)
n_minus_r_fact = factorial(n-r)

nCr = n_fact / (r_fact * n_minus_r_fact)

nCr

6.0

### <span style="color:orange">Problem :</span> Function to check if a number is prime or not ?

In [5]:
def isPrime(n):
    for i in range(2, n):
        if n%i == 0:
            return False
    else:
        return True

In [6]:
isPrime(10)

False

In [7]:
isPrime(2)

True

### <span style="color:orange">Problem :</span> Function to find all the prime numbers from 2 to n ?

In [8]:
def allPrimes(n):
    for i in range(2, n+1):
        is_prime = isPrime(i)
        if is_prime:
            print(i)

In [9]:
allPrimes(10)

2
3
5
7

In [10]:
allPrimes(20)

2
3
5
7
11
13
17
19

* Diffrence between `returning` a value and `printing` a value is : We can reuse the returned value at other place but, not the printed one.

### <span style="color:orange">Problem :</span> Function to find nCr ?

In [11]:
def nCr(n, r):
    n_fact = factorial(n)
    r_fact = factorial(r)
    n_minus_r_fact = factorial(n-r)

    return n_fact / (r_fact * n_minus_r_fact)

In [12]:
nCr(4, 2)

6.0

In [13]:
nCr(10, 6)

210.0

### <span style="color:orange">How does Function calling works ?</span>

In [14]:
def A():
    print('AS')
    B()
    print('AE')
    
def B():
    print('BS')
    C()
    print('BE')

def C():
    print('CS')
    print('CE')
    
A()

AS
BS
CS
CE
BE
AE

* In function `A()`, `AE` will not get printed untill function `B()` executes or In function `B()`, `BE` will not get printed untill function `C()` executes.

* Function is called in a way `First in Last Out`. So, We can call it as `Call Stack`.

* We store all the local data that we have, till the function uses it.

### <span style="color:orange">Scope of Variable</span>

When We define a variable, It is not necessary that we can use it anywhere But, There is always some scope associated with the variable.

In Python, The `Scope` of a variable refers to the `region` or part of the code where the variable is `accessible`.

The scope determines where the variable can be used, whether it's within a specific function, a block of code, or globally throughout the entire program.

Python has different variable scopes : `Local` , `Global` & `Non-Local` Scope.

#### <span style="color:blue">1. Local Scope</span>

Variables defined within a function have a local scope.

They are only accessible within that function.

Once the function finishes execution, the local variables are destroyed, and they cannot be accessed from outside the function.

In [15]:
def my_function():
    x = 10
    print(x, 'is accessible inside the function')

my_function()
print(x, 'is not accessible outside the function')

10 is accessible inside the function

NameError: name 'x' is not defined

* We can not print local variable without calling the function in which It has been defined.

#### <span style="color:blue">2. Global Scope</span>

Variables declared outside of any function or in the global scope are accessible from anywhere within the program, including inside functions.

In [16]:
z = 30

def another_function():
    print(z, "can be accessible since it's a global defined variable")

another_function()

30 can be accessible since it's a global defined variable

#### <span style="color:blue">3. Enclosing / Non-Local Scope</span>

If a function is defined within another function, Variables from the outer function are accessible within the inner function.

In [17]:
def outer_function():
    y = 20

    def inner_function():
        print(y, 'is accessible here since it is in the enclosing scope')

    inner_function()

outer_function()

20 is accessible here since it is in the enclosing scope

* However, If we want to modify a `global` variable within a function, We need to use the `global` keyword to explicitly declare that we're working with the global variable.

In [18]:
global_var = 50

def modify_global():
    global global_var
    global_var += 10  # Modifying the global variable

modify_global()
print(global_var)

60

* A function can contain a variable which is `global`, which is used in the function and defined after the function. But, It should be defined befor the function call.

In [19]:
def func():
    local_var = 10
    print(local_var, 'is in local scope')
    print(global_var, 'is in global scope')
    
global_var = 20
func()

10 is in local scope
20 is in global scope

In [20]:
def func_2():
    local_var_2 = 10
    print(local_var_2, 'is in local scope')
    print(global_var_2, 'is in global scope but defined after the function call')
    
func_2()
global_var_2 = 20

10 is in local scope

NameError: name 'global_var_2' is not defined

* We can check whether the variables are different or not, by using `id()` method.

In [21]:
x = 10

def func_3():
    x = 15
    print(x, 'is in local scope')
    print(id(x))
    
print(x, 'is in global scope')
func_3()
print(x, "is in global scope still after the function call because, function call can't change the global variable simply")
print(id(x))

10 is in global scope
15 is in local scope
140474992171760
10 is in global scope still after the function call because, function call can't change the global variable simply
140474992171600

In [22]:
y = 10

def func_4():
    global y
    y = 15
    print(y, 'is in global scope after function call because of global keyword')
    print(id(y))
    
print(y, 'is in global scope')
func_4()
print(y, "is in global scope because of function call")
print(id(y))

10 is in global scope
15 is in global scope after function call because of global keyword
140474992171760
15 is in global scope because of function call
140474992171760

* It's generally good practice to limit the use of `global` variables. It's recommended to use function `parameters` and `return values` to manage data within functions.

In [23]:
def f():
    z = 18
    return z

result = f()
result

18

### <span style="color:orange">Default Parameter in Function</span>

In [24]:
def f(n):
    print(n)
    
f(10, 20)

TypeError: f() takes 1 positional argument but 2 were given

* But there are some function which accepts `1` as well as `2` arguments.

In [25]:
print("abc")

abc

In [26]:
print("abc", end="_")

abc_

* So this happens because, Python allows `default` parameters.

In [27]:
def sum(a, b, c=0):
    return a + b + c

* Here `c` is default parameter. It means, If we provide only `2` parameters then python will take `c = 0` as default parameter. But If we provide the third parameter also then, It will use that.

In [28]:
sum(10, 20)

30

In [29]:
sum(10, 20, 30)

60

* `Non-default` argument can not follow a default argument But, `Default` argument should follow `Non-default` arguments.

In [30]:
def sum(a=0, b, c):
    return a + b + c

SyntaxError: non-default argument follows default argument (2106155235.py, line 1)

* We can have multiple `default` parameters but, These will come after all the `non-default` parameters.

In [31]:
def sum(a, b, c=0, d=10):
    return a + b + c + d

In [32]:
sum(5, 10, 15, 20)

50

In [33]:
sum(5, 10)

25

In [34]:
sum(5, 10, 15)

40

* Order of default parameters matter.

* We have option to mention the argument value by specifically mentioning that, which argument should take it.

In [35]:
sum(5, 10, d=15)

30

In [36]:
sum(5, 10, d=15, c=20)

50

* If we are giving argument value for all parameters specifically then order doesn't matter.

In [37]:
sum(b=5, a=10, d=15, c=20)

50

### <span style="color:orange">Problem :</span> Fahrenheit to Celcius

Given three values - Start fahrenheit value `s`, End fahrenheit value `e` and Step size (w). We need to convert all the fahrenheit values from start till end at the gap of `w` into their corresponding celcius value and print the table.

In [38]:
def f2c(s, e, w):
    for f in range(s, e+1, w):
        c = int((f-32)*5/9)
        print(f, '\t', c)

In [39]:
s = 0
e = 100
w = 20

f2c(s, e, w)

0 	 -17
20 	 -6
40 	 4
60 	 15
80 	 26
100 	 37

### <span style="color:orange">Problem :</span> Fibonacci Member

Given an umber `N`, Figure out if it is a member of fibonacci series or not. Return True, if the number id member of fibonacci series else False.

Fibonacci series is defined by the recurrence : `F(n) = F(n-1) + F(n-2)`

In [40]:
def fibonacci(n):
    n1 = 0
    n2 = 1
    
    n3 = 0
    while n3 < n:
        n3 = n1 + n2
        n1 = n2
        n2 = n3
    if n3 == n:
        print(True)
    else:
        print(False)

In [41]:
n = 5

fibonacci(n)

True

In [42]:
n = 6

fibonacci(n)

False

### <span style="color:orange">Problem :</span> Palindrome Number

Write a program to determine if given number is a palindrome or not.

palindrome are the numbers for which reverse of the number is exactly same as the origional number. For Example: 1221

In [43]:
def palindrome(n):
    origional = n
    
    reverse = 0
    while n != 0:
        ls = n//10
        ms = n%10
        n = ls
        reverse = reverse*10 + ms
    
    if origional == reverse:
        print(True)
    else:
        print(False)

In [44]:
n = 1221

palindrome(n)

True

In [45]:
n = 12121

palindrome(n)

True

In [46]:
n = 1234

palindrome(n)

False

### <span style="color:orange">Problem :</span> Check Armstrong Number

Write a program to determine if the given number is armstrong or not.

Armstrong number is a number (with digits `n`) such that the `sum` of it's `digits` raised to `n'th` power is equal to the number itself.

For Example: `371 = 3^3 + 7^3 + 1^3` and `1634 = 1^4 + 6^4 + 3^4 + 4^4`

In [47]:
def armstrong(n):
    origional = n
    digits = len(str(origional))
    
    power_number = 0
    while n != 0:
        ls = n//10
        ms = n%10
        n = ls
        power_number += ms**digits
    
    if origional == power_number:
        print(True)
    else:
        print(False)

In [48]:
armstrong(371)

True

In [49]:
armstrong(1634)

True

In [50]:
armstrong(1221)

False